
.menucabecera{
    background-color: #ff9933de;
    height: 40px;
    text-align: right;
    padding: 5px 5px 5px 0px;
}
.menucabecera a:link, a:visited{
    border-right: #ff6600 2px solid;
    padding-right: 8px;
    text-decoration: none;
    color: #ffffff;
}
.menucabecera a:hover{
    color: #000000;
}

.cabecera{

  background-color: #ff6600;
  height: 120px;
  padding: 5px 5px 5px 5px;
  color: #ffffff;
}

.cabecera h5{
  color:#993300;
   font-weight: bold;
    
    
}

.menuprincipal{

    background-color:#993300 ;
    height: 40px;
}

.menu{

  list-style: none;
  font: 85% Arial;

}

.mh{

float: left;
padding: 0 0 0 1px;
margin: 0px;

}

.mh li{

    float: left;
    border-right: 1px solid #ffffff;
    height: 40px;
}

.menu li a:link , li a:visited{

    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 6px 20px;
    height:40px ;

}

.menu li a.activo{

    color:#000000 ;
    background:#ff9933de ;
    height:40px ;
}

.menu li a:hover{

    color: #000000;
    background: #993300;
    height: 40px;

}

.bannerimg{

 background: #ffffff;
 text-align: center;
 border-bottom: 3px solid #ff9933;

}

.textobanner {

 background: #ffffff;
 text-align: left;
 color: #ff9933;
 height: 503px;
 border-bottom: 3px solid #ff9933;
}

.textobanner p{
    margin: 60px;




}

.tamañofilacol{


    height: 400px;



}

.c1{

    background-color:#ffffff;
    height: 100%;
    

}

.contenedor1{
    margin: 10px;
    
   



}

.contenedor1 h3{


    text-align: right;
    color: #ff9933;
    font-weight: bold;
    
}




.pie{

 background-color: #ff9933;
 height: 40px;
 text-align: right;
 padding: 5px 5px 5px 0;

}